# Salin file ini menjadi .env.local dan isi dengan kredensial Supabase kamu.
# Temukan nilai ini di: Supabase Dashboard → Project Settings → API

NEXT_PUBLIC_SUPABASE_URL=gkqvrzjtmdalmnudqjot
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdrcXZyemp0bWRhbG1udWRxam90Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY2NDAxNTMsImV4cCI6MjEwMjIxNjE1M30.zXW-5Uhk9HVQWeO6spocVnymMA-tNKacHAM4nQ601_8
